
        <html>
        <head>
        <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);
        }
        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
        </style>
        </head>
        <body>
        <div class="grid">
        
                <div class="grid-item">
                <h3>Court is in session, a verdict is in</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/0/StableDiffusionV2Base/0.png">
                </div>
                
                <div class="grid-item">
                <h3>Court is in session, a verdict is in</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/0/StableDiffusionV2/0.png">
                </div>
                
                <div class="grid-item">
                <h3>Court is in session, a verdict is in</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/0/StableDiffusionV1/0.png">
                </div>
                
                <div class="grid-item">
                <h3>No appeal on the docket today just my own sin</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/1/StableDiffusionV2/1.png">
                </div>
                
                <div class="grid-item">
                <h3>The walls cold and pale, the cage made of steel</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/2/StableDiffusionV2Base/2.png">
                </div>
                
                <div class="grid-item">
                <h3>The walls cold and pale, the cage made of steel</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/2/StableDiffusionV2/2.png">
                </div>
                
                <div class="grid-item">
                <h3>The walls cold and pale, the cage made of steel</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/2/StableDiffusionV1/2.png">
                </div>
                
                <div class="grid-item">
                <h3>Screams fill the room, alone I drop and kneel</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/3/StableDiffusionV2Base/3.png">
                </div>
                
                <div class="grid-item">
                <h3>Screams fill the room, alone I drop and kneel</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/3/StableDiffusionV2/3.png">
                </div>
                
                <div class="grid-item">
                <h3>Screams fill the room, alone I drop and kneel</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/3/StableDiffusionV1/3.png">
                </div>
                
                <div class="grid-item">
                <h3>Silence now the sound, my breath the only motion around</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/4/StableDiffusionV2Base/4.png">
                </div>
                
                <div class="grid-item">
                <h3>Silence now the sound, my breath the only motion around</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/4/StableDiffusionV2/4.png">
                </div>
                
                <div class="grid-item">
                <h3>Silence now the sound, my breath the only motion around</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/4/StableDiffusionV1/4.png">
                </div>
                
                <div class="grid-item">
                <h3>Demons cluttering around, my face showing no emotion</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/5/StableDiffusionV2Base/5.png">
                </div>
                
                <div class="grid-item">
                <h3>Demons cluttering around, my face showing no emotion</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/5/StableDiffusionV2/5.png">
                </div>
                
                <div class="grid-item">
                <h3>Demons cluttering around, my face showing no emotion</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/5/StableDiffusionV1/5.png">
                </div>
                
                <div class="grid-item">
                <h3>Shackled by my sentence, expecting no return</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/6/StableDiffusionV2Base/6.png">
                </div>
                
                <div class="grid-item">
                <h3>Shackled by my sentence, expecting no return</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/6/StableDiffusionV2/6.png">
                </div>
                
                <div class="grid-item">
                <h3>Shackled by my sentence, expecting no return</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/6/StableDiffusionV1/6.png">
                </div>
                
                <div class="grid-item">
                <h3>Here there is no penance, my skin begins to burn</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/7/StableDiffusionV2Base/7.png">
                </div>
                
                <div class="grid-item">
                <h3>Here there is no penance, my skin begins to burn</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/7/StableDiffusionV2/7.png">
                </div>
                
                <div class="grid-item">
                <h3>Here there is no penance, my skin begins to burn</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/7/StableDiffusionV1/7.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/8/StableDiffusionV2Base/8.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/8/StableDiffusionV2/8.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/8/StableDiffusionV1/8.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/9/StableDiffusionV2Base/9.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/9/StableDiffusionV2/9.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/9/StableDiffusionV1/9.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/10/StableDiffusionV2Base/10.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/10/StableDiffusionV2/10.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/10/StableDiffusionV1/10.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/11/StableDiffusionV2Base/11.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/11/StableDiffusionV1/11.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/12/StableDiffusionV2Base/12.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/12/StableDiffusionV2/12.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/12/StableDiffusionV1/12.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/13/StableDiffusionV2Base/13.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/13/StableDiffusionV2/13.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/13/StableDiffusionV1/13.png">
                </div>
                
                <div class="grid-item">
                <h3>I hear a thunder in the distance, see a vision of a cross</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/14/StableDiffusionV2Base/14.png">
                </div>
                
                <div class="grid-item">
                <h3>I hear a thunder in the distance, see a vision of a cross</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/14/StableDiffusionV2/14.png">
                </div>
                
                <div class="grid-item">
                <h3>I hear a thunder in the distance, see a vision of a cross</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/14/StableDiffusionV1/14.png">
                </div>
                
                <div class="grid-item">
                <h3>I feel the pain that was given on that sad day of loss</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/15/StableDiffusionV2Base/15.png">
                </div>
                
                <div class="grid-item">
                <h3>I feel the pain that was given on that sad day of loss</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/15/StableDiffusionV2/15.png">
                </div>
                
                <div class="grid-item">
                <h3>I feel the pain that was given on that sad day of loss</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/15/StableDiffusionV1/15.png">
                </div>
                
                <div class="grid-item">
                <h3>A lion roars in the darkness, only he holds the key</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/16/StableDiffusionV2Base/16.png">
                </div>
                
                <div class="grid-item">
                <h3>A lion roars in the darkness, only he holds the key</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/16/StableDiffusionV2/16.png">
                </div>
                
                <div class="grid-item">
                <h3>A lion roars in the darkness, only he holds the key</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/16/StableDiffusionV1/16.png">
                </div>
                
                <div class="grid-item">
                <h3>A light to free me from my burden and grant me life eternally</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/17/StableDiffusionV2Base/17.png">
                </div>
                
                <div class="grid-item">
                <h3>A light to free me from my burden and grant me life eternally</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/17/StableDiffusionV2/17.png">
                </div>
                
                <div class="grid-item">
                <h3>A light to free me from my burden and grant me life eternally</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/17/StableDiffusionV1/17.png">
                </div>
                
                <div class="grid-item">
                <h3>Should have been dead on a Sunday morning, banging my head</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/18/StableDiffusionV2Base/18.png">
                </div>
                
                <div class="grid-item">
                <h3>Should have been dead on a Sunday morning, banging my head</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/18/StableDiffusionV2/18.png">
                </div>
                
                <div class="grid-item">
                <h3>Should have been dead on a Sunday morning, banging my head</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/18/StableDiffusionV1/18.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/19/StableDiffusionV2Base/19.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/19/StableDiffusionV2/19.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/19/StableDiffusionV1/19.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/20/StableDiffusionV2Base/20.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/20/StableDiffusionV2/20.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/20/StableDiffusionV1/20.png">
                </div>
                
                <div class="grid-item">
                <h3>Should have been dead on a Sunday morning, banging my head</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/21/StableDiffusionV2Base/21.png">
                </div>
                
                <div class="grid-item">
                <h3>Should have been dead on a Sunday morning, banging my head</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/21/StableDiffusionV1/21.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/22/StableDiffusionV2Base/22.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/22/StableDiffusionV2/22.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/22/StableDiffusionV1/22.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/23/StableDiffusionV2Base/23.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/23/StableDiffusionV2/23.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/23/StableDiffusionV1/23.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/24/StableDiffusionV2Base/24.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/24/StableDiffusionV2/24.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/24/StableDiffusionV1/24.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/25/StableDiffusionV2Base/25.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/25/StableDiffusionV2/25.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/25/StableDiffusionV1/25.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/26/StableDiffusionV2Base/26.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/26/StableDiffusionV2/26.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/26/StableDiffusionV1/26.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/27/StableDiffusionV2Base/27.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/27/StableDiffusionV2/27.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/27/StableDiffusionV1/27.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/28/StableDiffusionV2/28.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/28/StableDiffusionV1/28.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/29/StableDiffusionV2/29.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/29/StableDiffusionV1/29.png">
                </div>
                
                <div class="grid-item">
                <h3>I cry out to God, seeking only His decision</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/30/StableDiffusionV2/30.png">
                </div>
                
                <div class="grid-item">
                <h3>I cry out to God, seeking only His decision</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/30/StableDiffusionV1/30.png">
                </div>
                
                <div class="grid-item">
                <h3>Gabriel stand and confirms, I've created my own prison</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/31/StableDiffusionV2/31.png">
                </div>
                
                <div class="grid-item">
                <h3>Gabriel stand and confirms, I've created my own prison</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/31/StableDiffusionV1/31.png">
                </div>
                
                <div class="grid-item">
                <h3>I cry out to God, seeking only His decision</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/32/StableDiffusionV2/32.png">
                </div>
                
                <div class="grid-item">
                <h3>I cry out to God, seeking only His decision</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/32/StableDiffusionV1/32.png">
                </div>
                
                <div class="grid-item">
                <h3>Gabriel stand and confirms, I've created my own prison</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/33/StableDiffusionV2/33.png">
                </div>
                
                <div class="grid-item">
                <h3>Gabriel stand and confirms, I've created my own prison</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/33/StableDiffusionV1/33.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/34/StableDiffusionV2/34.png">
                </div>
                
                <div class="grid-item">
                <h3>So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/34/StableDiffusionV1/34.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/35/StableDiffusionV2/35.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/35/StableDiffusionV1/35.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/36/StableDiffusionV2/36.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/36/StableDiffusionV1/36.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/37/StableDiffusionV2/37.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/37/StableDiffusionV1/37.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/38/StableDiffusionV2/38.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/38/StableDiffusionV1/38.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/39/StableDiffusionV2/39.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/39/StableDiffusionV1/39.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/40/StableDiffusionV2/40.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) So I held my head up high</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/40/StableDiffusionV1/40.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/41/StableDiffusionV2/41.png">
                </div>
                
                <div class="grid-item">
                <h3>Hiding hate that burns inside</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/41/StableDiffusionV1/41.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/42/StableDiffusionV2/42.png">
                </div>
                
                <div class="grid-item">
                <h3>Which only fuels their selfish pride</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/42/StableDiffusionV1/42.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/43/StableDiffusionV2/43.png">
                </div>
                
                <div class="grid-item">
                <h3>(And I said, ohh) All held captive out from the sun</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/43/StableDiffusionV1/43.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/44/StableDiffusionV2/44.png">
                </div>
                
                <div class="grid-item">
                <h3>A sun that shines on only some</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/44/StableDiffusionV1/44.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/45/StableDiffusionV2/45.png">
                </div>
                
                <div class="grid-item">
                <h3>We the meek are all in one</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/45/StableDiffusionV1/45.png">
                </div>
                
                <div class="grid-item">
                <h3>Should have been dead on a Sunday morning, banging my head</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/46/StableDiffusionV2/46.png">
                </div>
                
                <div class="grid-item">
                <h3>Should have been dead on a Sunday morning, banging my head</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/46/StableDiffusionV1/46.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/47/StableDiffusionV2/47.png">
                </div>
                
                <div class="grid-item">
                <h3>No time for mourning</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/47/StableDiffusionV1/47.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/48/StableDiffusionV2/48.png">
                </div>
                
                <div class="grid-item">
                <h3>Ain't got no time</h3>
                <a href="/Users/joshwren/Code/playground/storyboardai/outputs/33527d88-636b-4833-876d-6d0665d970b5/48/StableDiffusionV1/48.png">
                </div>
                
        </div>
        </body>
        </html>
        